@model Astrocosm.Models.Horoscope

<h1>Your horoscope for: <em>@Model.Current_Date</em></h1>

<p>@Model.Description</p>
<h2>Lucky Color</h2>
    <p>@Model.Color</p>
<h2>Lucky Number</h2>
    <p>@Model.Lucky_Number</p>
<h2>Vibe</h2>
    <p>@Model.Mood</p>
<h2>Lucky Time</h2>
    <p>@Model.Lucky_Time</p>
<h2>Today's most compatible sign</h2>
    <p>@Model.Compatibility</p>