
<h1>Nice! Here's your chart, and some information about the sun in astrology.</h1>

<div>
    <div class="SunGeneral">
        <h3>Introduction</h3>
        <img src="@ViewBag.SunInfo.Image" alt="Cocentric sun image" />
        <div>
            @ViewBag.SunInfo.Intro
        </div>

        <img src="@ViewBag.SunInfo.Glyph" alt="Cocentric sun image" />

        <h3>What is the sun's significance in astrology?</h3>
        <div>
            <p>@ViewBag.SunInfo.Symbolism</p>
        </div>
    </div>

    <div class="MySunSign">
        <h2>My Sun Sign</h2>
    </div>
    <img src="@ViewBag.SunSign.Glyph" alt="@ViewBag.SunSign.LatinName glyph" />
    <p>Sun in @ViewBag.SunSign.LatinName</p>
    <p>Your sun sign is: @ViewBag.SunSign.LatinName</p>
    <p>Your sun sign is symbolized by: @ViewBag.SunSign.EnglishTranslation</p>
    <img src="@ViewBag.SunSign.TranslationImage" alt="@ViewBag.SunSign.EnglishTranslation" />
    <div>
        <p>@ViewBag.SunSign.Paragraph1</p>
    </div>
    <p>Sun sign element: @ViewBag.SunSign.Triplicity</p>
    <p>Sun sign modality: @ViewBag.SunSign.Modality</p>
    <p>Sun sign ruler: @ViewBag.SunSign.RulingPlanet</p>
    <img src="@ViewBag.SunSign.RulingPlanetImage" alt="@ViewBag.SunSign.RulingPlanet" />
    <img src="@ViewBag.SunSign.RulingPlanetGlyph" alt="@ViewBag.SunSign.RulingPlanet glyph" />

    <div>
        <p>@ViewBag.SunSign.Paragraph2</p>
    </div>

    <h4>@ViewBag.SunSign.LatinName Traits</h4>
    <p>@ViewBag.SunSign.Traits</p>

    <h4>Famous people born under the sign of @ViewBag.SunSign.LatinName</h4>
    <p>@ViewBag.SunSign.FamousExamples</p>

</div>
<br />
<br />
    <p>In summary... if you're ever asked, "What's your sign?", your answer is @ViewBag.SunSign.LatinName. A magical @ViewBag.SunSign.LatinName.</p>

