@if (ViewBag.SunSign.Id == 0)
{
    <p>It looks like you haven't calculated your sun sign yet. Click the link below to access the sun sign calculator</p>
    <form>
        <button type="submit" asp-controller="SubmitDOB" asp-action="Index">Sun Sign Calculator</button>

    </form>
}
else
{
    <div>

        <div class="MySunSign">
            <h1>My Sun Sign</h1>
        </div>

        <img src="@ViewBag.SunSign.Glyph" alt="@ViewBag.SunSign.LatinName glyph" />
        <p>Sun in @ViewBag.SunSign.LatinName</p>
        <p>Your sun sign is: @ViewBag.SunSign.LatinName</p>
        <p>Your sun sign is symbolized by: @ViewBag.SunSign.EnglishTranslation</p>
        <img src="@ViewBag.SunSign.TranslationImage" alt="@ViewBag.SunSign.EnglishTranslation" />
        <div>
            <p>@ViewBag.SunSign.Paragraph1</p>
        </div>
        <p>Sun sign element: @ViewBag.SunSign.Triplicity</p>
        <p>Sun sign modality: @ViewBag.SunSign.Modality</p>
        <p>Sun sign ruler: @ViewBag.SunSign.RulingPlanet</p>
        <img src="@ViewBag.SunSign.RulingPlanetImage" alt="@ViewBag.SunSign.RulingPlanet" />
        <img src="@ViewBag.SunSign.RulingPlanetGlyph" alt="@ViewBag.SunSign.RulingPlanet glyph" />

        <div>
            <p>@ViewBag.SunSign.Paragraph2</p>
        </div>

        <h4>@ViewBag.SunSign.LatinName Traits</h4>
        <p>@ViewBag.SunSign.Traits</p>

        <h4>Famous people born under the sign of @ViewBag.SunSign.LatinName</h4>
        <p>@ViewBag.SunSign.FamousExamples</p>

    </div>
    <br />

    <p>In summary... if you're ever asked, "What's your sign?", your answer is @ViewBag.SunSign.LatinName. A magical @ViewBag.SunSign.LatinName.</p>
}

